.nav_list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #252422;
}

.nav_button {
    float: left;
    display: block;
    text-align: center;
    color: #EDE8ED;
    padding: 15px 20px;
    min-width: 50px;
    font-family: 'Contrail One';
    font-size: 36px;
    display: inline-block;
}

.nav_button:hover {
    background-color: #3A3938;
}

#wrapper {
    text-align: center;
    margin: 
}

.top_image {
    display: inline-block
    text-align: center;
    border-radius: 30px;
    margin: 20px;

}

.fit_image{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.main_quote {
    display: inline-block;
    text-align: center;
    width: 60%;
    font-family: 'Ruluko';
    font-size: 20px;
    margin: 20px;
    color: #EDE8ED;
    
}

html, body {
    height: 100%;
    background-color: #2E515B;
}

header {
    width: 100%;
}