.nav_list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #252422;
}

.nav_button {
    float: left;
    display: block;
    text-align: center;
    color: #EDE8ED;
    padding: 15px 20px;
    min-width: 50px;
    font-family: 'Contrail One';
    font-size: 36px;
    display: inline-block;
}

.nav_button a {
    text-decoration: none;
    color: inherit;
}

.nav_button:hover {
    background-color: #3A3938;
}

.selected {
    color: #2E515B;
}

#main-wrapper {
    text-align: center;
}

.top_image {
    display: inline-block
    text-align: center;
    border-radius: 30px;
    margin: 20px;
    margin-top: 40px;
}
.subpage-wrapper {
    text-align: left;
}

.season_image {
    display: inline-block;
    float: left;
    text-align: left;
    border-radius: 30px;
    margin: 20px;
    margin-top: 40px;
}

.fit_image{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.main_quote {
    display: inline-block;
    text-align: center;
    width: 60%;
    font-family: 'Ruluko';
    font-size: 20px;
    margin: 20px;
    color: #EDE8ED; 
}

.season_content{
    display: inline-block;
    text-align: left;
    width: 60%;
    font-family: 'Ruluko';
    font-size: 20px;
    margin: 20px;
    color: #EDE8ED; 
}

.season_synopsis_quote {
    margin-left: 20px;
}

.episode-table {
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.episode-table .episode-number {
    text-align: center
}

.episode-table tr:nth-child(even) {
    background-color: #355D68; 
}

.episode-table th {
    background-color: #233D44; 
}

.citation {
    text-align: right;
}

html, body {
    height: 100%;
    background-color: #2E515B;
}

header {
    width: 100%;
}

h2 {
    font-family: 'Contrail One';
}